[user]
  name = Balthazar Gronon
  email = bgronon@gmail.com
  signingkey = 3D8E9C95
[color]
  ui = true
[push]
  default = simple
[core]
  editor = vim
  pager = less -S
[branch]
  autosetuprebase = always
[rerere]
  enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
