[user]
	name = Balthazar Gronon
	email = bgronon@gmail.com
	signingkey = 3D8E9C95
[color]
  ui = true
[push]
  default = simple
[core]
  editor = vim
  pager = less -S
[branch]
  autosetuprebase = always
[rerere]
  enabled = true
[url "ssh://gitolite@code.uber.internal/"]
  insteadOf = git://code.uber.internal/
[url "ssh://git@github.com/uber/"]
  insteadOf = https://github.com/uber/
[url "ssh://gitolite@code.uber.internal:2222/"]
  insteadOf = https://code.uber.internal/
