[user]
  name = Balthazar Gronon
  email = git@balthazar.dev
  signingkey = 60CFC855069EBE4E
[color]
  ui = true
[push]
  default = simple
[core]
  editor = vim
  pager = less -S
  excludesfile = ~/.gitignore_global
[branch]
  autosetuprebase = always
[rerere]
  enabled = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[commit]
  gpgsign = true
